@font-face {
    font-family: 'Mollie Glaston';
    src: url('./../fonts/FontsFree-Net-Mollie-Glaston.woff');
    src: url('./../fonts/FontsFree-Net-Mollie-Glaston.woff2');
}

@font-face {
    font-family: 'Helvetica';
    src: url('./../fonts/Helvetica-Bold.woff');
    src: url('./../fonts/Helvetica-Bold.woff2');
    font-weight: 700;
}


@font-face {
    font-family: 'Helvetica';
    src: url('./../fonts/Helvetica.woff');
    src: url('./../fonts/Helvetica.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Medium.woff');
    src: url('./../fonts/Poppins-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.woff');
    src: url('./../fonts/Poppins-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-SemiBold.woff');
    src: url('./../fonts/Poppins-SemiBold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Medium.woff');
    src: url('./../fonts/Roboto-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Regular.woff');
    src: url('./../fonts/Roboto-Regular.woff2');
    font-weight: 400;
}