<section class="follow-us">
    <div class="container">
        <h2 class="section__title"> Follow us on Instagram <span class="gradient-text">#fTYOGA</span></h2>
        <div class="img-wrapper anim-item">
            <img src="images/follow-us1.png" alt="" class="follow-us__img">
        </div>
        <div class="img-wrapper anim-item">
            <img src="images/follow-us2.png" alt="" class="follow-us__img">
        </div>
        <div class="img-wrapper anim-item">
            <img src="images/follow-us3.png" alt="" class="follow-us__img">
        </div>
        <div class="img-wrapper anim-item">
            <img src="images/follow-us4.png" alt="" class="follow-us__img">
        </div>
        <a href="#!" class="btn _round">
            Follow
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="27" viewBox="0 0 51 27" fill="none">
                <path d="M0.5 14L50.5 14" stroke="white" stroke-width="2"/>
                <path d="M35 1C37.5 5.33333 44 14 50 14" stroke="white" stroke-width="2"/>
                <path d="M35 26C37.5 22 44 14 50 14" stroke="white" stroke-width="2"/>
              </svg>
        </a>
    </div>
</section>