<section class="good-healthy">
    <div class="container">
        <div class="good-healthy__image anim-item" style="background-image: url('images/good-healthy.png');">
            <div class="heart-rate__wrapper">
                <div class="heart-svg__wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="27" viewBox="0 0 30 27" fill="none">
                        <path
                            d="M16.1756 26.1612C15.6781 26.3368 14.8585 26.3368 14.361 26.1612C10.1171 24.7124 0.634155 18.6685 0.634155 8.42457C0.634155 3.90262 4.27806 0.24408 8.77074 0.24408C11.4342 0.24408 13.7903 1.53188 15.2683 3.52213C16.7463 1.53188 19.1171 0.24408 21.7659 0.24408C26.2585 0.24408 29.9024 3.90262 29.9024 8.42457C29.9024 18.6685 20.4195 24.7124 16.1756 26.1612Z"
                            fill="#FF2D27" />
                    </svg>
                </div>
                <div class="heart-rate__desc">
                    <p class="heart-rate">Heart Rate</p>
                    <p> <span class="gradient-text">168</span> bpm </p>
                </div>

            </div>

            <div class="courses__wrapper">
                <span class="gradient-text">500+ </span>
                <p>Free Courses</p>
            </div>
        </div>

        <div class="good-healthy__description anim-item">
            <h2 class="section__title">Get Happiness to Good healthy!</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
            <a href="#!" class="btn">
                Let’s Start
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" fill="none">
                    <path d="M0 13L30 13" stroke="white" stroke-width="2" />
                    <path d="M16 1C18.3333 5 24.4 13 30 13" stroke="white" stroke-width="2" />
                    <path d="M16 23C18.3333 19.6667 24.4 13 30 13" stroke="white" stroke-width="2" />
                </svg>
            </a>
        </div>
    </div>
</section>