<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <h1 class="hero__title anim-item">Choose Your Best <span>Yoga</span> Teacher</h1>

            <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>

            <a href="#!" class="btn">
                Get started Free
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="24" viewBox="0 0 31 24" fill="none">
                    <path d="M0.5 13L30.5 13" stroke="white" stroke-width="2" />
                    <path d="M16.5 1C18.8333 5 24.9 13 30.5 13" stroke="white" stroke-width="2" />
                    <path d="M16.5 23C18.8333 19.6667 24.9 13 30.5 13" stroke="white" stroke-width="2" />
                </svg>
            </a>

            <ul class="numbers-about-us">
                <li class="number-about-us">
                    <span class="numbers">300+</span>
                    <span>Yoga Class</span>
                </li>
                <li class="number-about-us">
                    <span class="numbers">40k+</span>
                    <span>Participent</span>
                </li>
            </ul>

            <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97" fill="none">
                    <ellipse cx="48" cy="48.5" rx="15" ry="47.5" stroke="url(#paint0_linear_1_44)" stroke-width="2" />
                    <ellipse cx="48.5" cy="48" rx="15" ry="47.5" transform="rotate(90 48.5 48)"
                        stroke="url(#paint1_linear_1_44)" stroke-width="2" />
                    <path
                        d="M48 18L53.0912 42.9088L78 48L53.0912 53.0912L48 78L42.9088 53.0912L18 48L42.9088 42.9088L48 18Z"
                        fill="url(#paint2_linear_1_44)" stroke="#F8F0FD" stroke-width="3" />
                    <defs>
                        <linearGradient id="paint0_linear_1_44" x1="33" y1="48.5" x2="60.025" y2="45.0523"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF62B7" />
                            <stop offset="1" stop-color="#9F53FF" />
                        </linearGradient>
                        <linearGradient id="paint1_linear_1_44" x1="33.5" y1="48" x2="60.525" y2="44.5523"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF62B7" />
                            <stop offset="1" stop-color="#9F53FF" />
                        </linearGradient>
                        <linearGradient id="paint2_linear_1_44" x1="18" y1="48" x2="65.2227" y2="28.9228"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF62B7" />
                            <stop offset="1" stop-color="#9F53FF" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
        </div>

        <div class="hero__heart-rate">
            <div class="hero__heart-rate-bg">
                <div class="hero__heart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                        <path
                            d="M31.55 52.0253C30.7 52.3253 29.3 52.3253 28.45 52.0253C21.2 49.5503 5 39.2253 5 21.7252C5 14.0002 11.225 7.75024 18.9 7.75024C23.45 7.75024 27.475 9.95024 30 13.3502C32.525 9.95024 36.575 7.75024 41.1 7.75024C48.775 7.75024 55 14.0002 55 21.7252C55 39.2253 38.8 49.5503 31.55 52.0253Z"
                            fill="white" />
                    </svg>
                </div>

                <div class="bpm-ritm">
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>
                    <span class="bpm-elem"></span>

                </div>

                <div>
                    <span class="bpm-">168</span>
                    <span>bpm</span>
                </div>
            </div>
        </div>
    </div>
</section>