<section class="join-us">
    <div class="container">
        <h2 class="section__title join-us__title">Join our newsletter</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making.</p>
        <form action="#" class="form" id="form">
           <div class="form-wrapper">
            <input type="email" class="form__input" placeholder="For latest update send mail">
            <button class="btn form__btn">Subscribe</button>
           </div>
        </form>
    </div>
</section>